<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.vidvox.QCQL-Renderer</string>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>ProgramArguments</key>
	<array>
	  <string>path to the compiled binary goes here</string>
	</array>
	<key>KeepAlive</key>
	<false/>
	<key>ProcessType</key>
	<string>Adaptive</string>
	<key>MachServices</key>
	<dict>
		<key>com.vidvox.QCQL-Renderer</key>
		<true/>
	</dict>
</dict>
</plist>
